
@import 'src/assets/main.scss';

.title-reservation{
    margin-bottom: 1rem;
}

.switch {
	display: inline-block;
	height: 29px;
	position: relative;
	width: 55px;
	input {
		height: 0;
		width: 0;
        opacity: 0;
    }
}
.slider {
	background-color: $slider-bg;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
	-webkit-transition: .4s;
	&:before {
		background-color: $slider-bg-before;
		bottom: 4px;
		content: "";
		height: 20px;
		left: 4px;
		position: absolute;
		transition: .4s;
		width: 20px;
		-webkit-transition: .4s;
    }
	&.round {
        border-radius: 34px;
		&:before {
            border-radius: 50%;
        }
    }
}

input {
    &:checked {
        &+.slider {
            background-color: $slider-bg-input-checked;
			&:before {
				transform: translateX(26px);
                -webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
            }
        }
    }
}

.reservation {
	padding: 20px;
}

.picker-date {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;
}

button {
	background-color: $reservation-bg-button;
	border-radius: 4px;
	border: none;
	color: #fff;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
}

.reservation-info {
	border-radius: 4px;
	border: 1px solid $reservation-info-color-border;
	margin-top: 20px;
	padding: 20px;
}

.hotel-info {
	display: flex;
	flex-wrap: wrap;
}

.hotel-name, .hotel-score {
	flex-basis: 50%;
	margin-bottom: 10px;
}